<div class="row midPart">
  <div class="col-9 tweetPartRightBorder">
    <div class="row topPart mt-2">
      <div class="col-4 leftText">Anasayfa</div>
      <div class="col-7 rightText"><i class="far fa-star"></i></div>
    </div>
    <form #tweetCreateForm="ngForm" (ngSubmit)="addTweet(tweetCreateForm)">
      <div class="row tweetForm mt-3">
        <div class="col-1"><img class="ppInTweetPart" src="../../../../../assets/img/ppDefault.jpg" alt=""></div>
        <div class="col-9 ml-2"> <textarea #tweetForSend="ngModel" [(ngModel)]="tweetForAddDto.tweetContent"
           class="formTextAreaInput" placeholder="Neler Oluyor?"
           name="tweetForSend" required></textarea></div>
      </div>
      <div class="row tweetPartIcon mt-3">
        <div class="col-1"></div>
        <div class="col-1"><i class="fas fa-camera"></i></div>
        <div class="col-1"><i class="far fa-image"></i></div>
        <div class="col-1"><i class="far fa-smile"></i></div>
        <div class="col-1"><i class="fas fa-chart-bar"></i></div>
        <div class="col "><button [disabled]="!tweetCreateForm.valid" type="submit"  class="btn btn-primary btnForTweet" >Tweetle</button></div>
      </div>
    </form>




<!--
    <div class="row mt-5 welcomeRow">
      <div class="col welcomeText">Twitter'a hoş geldin!</div>
    </div>
    <div class="row mt-2 contentTextRow">
      <div class="col contentText">Dünyanda olup bitenleri görmek için en iyi yer burası. Hemen takip edecek birkaç kişi
        ve konu bul.</div>
    </div>
    <div class="row centeredButtonRow">
      <div class="col mt-3 centeredButton"><button type="button" class="btn btn-primary centeredBtn">Haydi!</button>
      </div>
    </div>
  </div>
-->
  <div class="col-3 rightContent">
    <div class="row">
      <div class="col-12">
        <i class="fas fa-search iconOfSearchbox"></i>
        <input type="text" class="searchBox" placeholder="Twitter'da Ara"></div>
    </div>

    <div class="row rightCategory">
      <div class="col descRightContent"> İlgini çekebilecek gündemler &nbsp;<i class="fas fa-cog setIcon"></i></div>
    </div>
    <div class="row testRow">
      <div class="col testCol"> #test1</div>
    </div>
    <div class="row testRow">
      <div class="col testCol"> #test1</div>
    </div>
    <div class="row testRow">
      <div class="col testCol"> #test1</div>
    </div>
    <div class="row testRow testRowLast">
      <div class="col testCol"> #test1</div>
    </div>

    <div class="row mt-3 rightCategory">
      <div class="col descRightContent"> Kim kimi takip etmeli</div>
    </div>

    <div class="row testRow">
      <div class="d-flex">
        <img class="recommendedUserImg" src="../../../../../assets/img/r1.jpg" alt="">
        <div class="row">
          <div class="col-7 userName testUser">&nbsp;@testUsertestUsertestUser</div>
          <div class="col-7 userName">&nbsp;@testUser</div>
        </div>
        <button type="button" class="btn btn-primary btnForFallow mt-2">Takip et</button>
      </div>
    </div>

    <div class="row testRow">
      <div class="d-flex">
        <img class="recommendedUserImg" src="../../../../../assets/img/r1.jpg" alt="">
        <div class="row">
          <div class="col-7 userName testUser">&nbsp;@testUsertestUsertestUser</div>
          <div class="col-7 userName">&nbsp;@testUser</div>
        </div>
        <button type="button" class="btn btn-primary btnForFallow mt-2">Takip et</button>
      </div>
    </div>

    <div class="row testRow">
      <div class="d-flex">
        <img class="recommendedUserImg" src="../../../../../assets/img/r1.jpg" alt="">
        <div class="row">
          <div class="col-7 userName testUser">&nbsp;@testUsertestUsertestUser</div>
          <div class="col-7 userName">&nbsp;@testUser</div>
        </div>
        <button type="button" class="btn btn-primary btnForFallow mt-2">Takip et</button>
      </div>
    </div>



  </div>
</div>