<div class="row ml-2 mt-2">
  <div class="col-8">
    <div class="row topPart mt-1">
      <div class="col-6 leftText">Anasayfa</div>
      <div class="col-6 rightText"><i class="far fa-star"></i></div>
    </div>
    <div class="row tweetForm mt-3">
      <div class="col-1"><img class="ppInTweetPart" src="../../../../../assets/img/ppDefault.jpg" alt=""></div>
      <div class="col-9 ml-2"> <textarea class="formTextAreaInput" placeholder="Neler Oluyor?"></textarea></div>
    </div>
    <div class="row tweetPartIcon mt-3">
      <div class="col-1"></div>
      <div class="col-1"><i class="fas fa-camera"></i></div>
      <div class="col-1"><i class="far fa-image"></i></div>
      <div class="col-1"><i class="far fa-smile"></i></div>
      <div class="col-1"><i class="fas fa-chart-bar"></i></div>
      <div class="col "><button type="button" class="btn btn-primary btnForTweet">Tweetle</button></div> 
    </div>
  </div>
  <div class="col-4" style="background-color: red;">a</div>
</div>



